body {
  background-color: #000;
  color: rgb(145, 49, 255);
  font-family: 'Satoshi', 'Courier New', monospace;
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  margin-bottom: 2rem;
}
h1, h2, h3 {
  color: #fff;
}
a {
  color: rgb(145, 49, 255);
  text-decoration: none;
}
a:hover {
 color:rgba(186, 115, 249, 0.788); 
  /* text-decoration: underline; */
}
.logo {
  font-size: 28px;
  color: rgb(145, 49, 255);
  /* text-shadow: 0 0 5px rgb(198, 115, 249); */
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.main-content {
  flex: 1;
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.image{
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(185, 105, 255, 0.47);
}
.button {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 2px solid rgb(145, 49, 225);
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  transition: all 0.3s ease;
}
.button:hover {
  color: rgb(145, 49, 255);
  box-shadow: 0 0 10px rgb(243, 119, 231);
}

.community-features {
  list-style-type: none;
  padding-left: 0;
}
.community-features li::before {
  content: "> ";
  color: rgb(247, 159, 255);
}
.explore-section {
  color: white;
  margin-bottom: 30px;
  text-align: justify;
  /* border: 1px solid rgb(145, 49, 225); */
  padding: 20px;
  border-radius: 5px;
}
